<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App Transport Security Settings
App Transport Security Settings
App Transport Security Settings
App Transport Security Settings
App Transport Security Settings
App Transport Security Settings
App Transport Security Settings
App Transport Security Settings</key>
	<dict>
		<key>Allow Arbitrary Loads</key>
		<true/>
		<key>Exception Domains</key>
		<dict>
			<key>93.175.4.58</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
